## .NET
bin/
obj/
publish/

## User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

## Visual Studio
.vs/
*.csproj.user

## Rider
.idea/

## VS Code
.vscode/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Local database files
*.db
*.mdf
*.ldf
